.d1{
    background-color: tomato;
    width: 400px;
    height: 400px;
    border: 25px solid black;
    padding: 15px;
    border-radius: 8px;
    outline-width: 10px;
    outline-color: yellow;
    outline-style: solid;
    outline-offset: -5px;



    
    
}
.d2{
    background-color: aqua;
    width: 400px;
    height: 400px;
    border: 10px solid red;
    border-radius: 8px;
    margin: auto;
    margin-top: 10px;
    background-image: url(image/2356.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.p1{
    text-align: start;
    text-indent: 35px;
    letter-spacing: 1.1px;
    word-spacing: 3px;
    text-transform: capitalize;
    font-family: 'Noto Serif Khojki', serif;
    font-weight: 5px;
    font-style: italic;
    font-size: 15px;
    font-stretch: extra-expanded;


}
.fa-brands{

    background-color: yellow;

    
}
.material-symbols-outlined{
    background-color: yellow;
}
a{
    color: violet;
    border: 5px solid red;
    font-size: 50px;
    font-style:oblique;
    font-weight: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    font-variant: var(-5px);

    


}
.h2{
     

}